## Exercise 1:
Obercool!!!
   
Write a Python program to get a list, sorted in increasing order by the last
element in each tuple from a given list of non-empty tuples. Input:
[(2, 7 ,3, 5), (1,5, 2), (4, 1,8 ,6, 2, 4), (2, 3), (2, 1), (0,3,5,2,0)]
Expected Output:
[(0, 3, 5, 2, 0), (2, 1), (1, 5, 2), (2, 3), (4, 1, 8, 6, 2, 4), (2, 7, 3, 5)]

In [2]:
def last(k):
    return k[-1]

a = [(2, 7 ,3, 5), (1,5, 2), (4, 1,8 ,6, 2, 4), (2, 3), (2, 1), (0,3,5,2,0)]

sorted(a, key = last)

[(0, 3, 5, 2, 0), (2, 1), (1, 5, 2), (2, 3), (4, 1, 8, 6, 2, 4), (2, 7, 3, 5)]

In [4]:
print(a)

sorted(a, key = lambda k:k[-1])

[(2, 7, 3, 5), (1, 5, 2), (4, 1, 8, 6, 2, 4), (2, 3), (2, 1), (0, 3, 5, 2, 0)]

[(0, 3, 5, 2, 0), (2, 1), (1, 5, 2), (2, 3), (4, 1, 8, 6, 2, 4), (2, 7, 3, 5)]

## Exercise 2:
Write a Python program to get a list, sorted in increasing order by the first
element in each tuple from a given list of non-empty tuples Input:
[(2, 7 ,3, 5), (1,5, 2), (4, 1,8 ,6, 2, 4), (2, 3), (2, 1), (0,3,5,2,0)]
Expected Output:
[(0, 3, 5, 2, 0), (1, 5, 2), (2, 7, 3, 5), (2, 3), (2, 1), (4, 1, 8, 6, 2, 4)]

In [6]:

a = [(2, 7 ,3, 5), (1,5, 2), (4, 1,8 ,6, 2, 4), (2, 3), (2, 1), (0,3,5,2,0)]
print(a)

sorted(a, key = lambda k:k[0])

[(2, 7, 3, 5), (1, 5, 2), (4, 1, 8, 6, 2, 4), (2, 3), (2, 1), (0, 3, 5, 2, 0)]

[(0, 3, 5, 2, 0), (1, 5, 2), (2, 7, 3, 5), (2, 3), (2, 1), (4, 1, 8, 6, 2, 4)]

## Exercise 3:
Write a Python program to get a list, sorted in increasing order by the
secondlast element in each tuple from a given list of non-empty tuples Input:
[(2, 7 ,3, 5), (1,5, 2), (4, 1,8 ,6, 2, 4), (2, 3), (2, 1), (0,3,5,2,0)]
Expected Output:
[(4, 1, 8, 6, 2, 4), (2, 3), (2, 1), (0, 3, 5, 2, 0), (2, 7, 3, 5), (1, 5, 2)]

In [7]:
a = [(2, 7 ,3, 5), (1,5, 2), (4, 1,8 ,6, 2, 4), (2, 3), (2, 1), (0,3,5,2,0)]
print(a)

sorted(a, key = lambda k:k[-2])

[(2, 7, 3, 5), (1, 5, 2), (4, 1, 8, 6, 2, 4), (2, 3), (2, 1), (0, 3, 5, 2, 0)]

[(4, 1, 8, 6, 2, 4), (2, 3), (2, 1), (0, 3, 5, 2, 0), (2, 7, 3, 5), (1, 5, 2)]

## Exercise 4:
Write a Python program to get a list, sorted in increasing order by calculating
the length of the hypotenuse in each tuple from a given list of non-empty
tuples.
Example the tuple (2, 1) means: 2 is cathetus and 1 is cathetus => hypo?
Input:
[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
Expected Output:
[(1, 2), (2, 1), (2, 3), (2, 5), (4, 4)]

In [10]:
import math 
a = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
print(a)

sorted(a, key = lambda k:math.sqrt(k[0]**2+k[1]**2))

[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

[(1, 2), (2, 1), (2, 3), (2, 5), (4, 4)]

## Exercise 5:
 Write a Python program to get a list, sorted in increasing order by the fact the
 secondlast element in the tuple is odd or even in each tuple from a given
 list of non-empty tuples.
Input:
[(3, 7 ,3, 5), (1,5, 2), (3, 1,8 ,6, 2, 4), (2, 3), (2, 1), (0,3,5,2,0)]
Expected Output:
[(3, 1, 8, 6, 2, 4), (2, 3), (2, 1), (0, 3, 5, 2, 0), (3, 7, 3, 5), (1, 5, 2)]

In [14]:
a = [(3, 7 ,3, 5), (1,5, 2), (3, 1,8 ,6, 8, 4), (2, 3), (2, 1), (0,3,5,2,0)]


sorted(a, key = lambda k: k[-2]%2)

[(3, 1, 8, 6, 8, 4), (2, 3), (2, 1), (0, 3, 5, 2, 0), (3, 7, 3, 5), (1, 5, 2)]

## Exercise 6:
 Write a Python program to change the position of every n-th value with the
 (n+1)th in a list. A picture of your task:
 
Input:
[0,1,2,3,4,5]
Expected Output:
[1, 0, 3, 2, 5, 4]

In [36]:
a = [0,1,2,3,4,5]

# a.pop(a[1])
# print(a)

def nn1(a):
    for i in range(0, len(a), 2):
        x = a.pop(a[i+1])
        a.insert(i, x)
        
    return (a)

nn1(a)

[1, 0, 3, 2, 5, 4]

In [32]:
x = [*range(0, 10, 2)]
x

[0, 2, 4, 6, 8]

## 7 
Write a Python program to
remove an empty tuple(s)
from a list of tuples.
Input:
[(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
Expected Output:
[('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

In [39]:
a = [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]

def empDel(a):
    b =[]
    for el in a:
        if el: b.append(el)
    return b

empDel(a)

[('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

## Exercise 8:
Write a Python program to sort a tuple by its float element. Biggest float first.
Input:
[('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
Expected Output:
[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [47]:
a = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]

sorted(a, key = lambda k: float(k[-1]), reverse = True)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [44]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

## 9 
Write a Python program to print all unique values in a dictionary as a set
Input: a list of dicts with different value's
[{"V" :   }, {"V" : "S002"}, {"VI" : "S001"}, {"VI" : "S005"}, {"VII" : "S005"}, {"V" :
Expected Output: (all unique values) {'S005', 'S002', 'S007', 'S001', 'S009'}

In [10]:
a = [{"V" : 'S001'}, {"V" : "S002"}, {"VI" : "S007"}, {"VI" : "S005"}, {"VII" : "S005"}]

# list(a[0].values())


b = []

for el in a:
    b.append(list(el.values()))

c = set()
for el in b:
    c.add(el[0])

c

{'S001', 'S002', 'S005', 'S007'}

## Exercise 10:
Write a Python program to find maximum and the minimum value in a set
Input:
{ 5, 10, 3, 15, 2, 20 }
Expected Output:
MinVal = 2 MaxVal = 20

In [14]:
s = { 5, 10, 3, 15, 2, 20 }

def maxval(set):
    m = set.pop()
    while set: 
        p = set.pop()
        if m < p: m = p
    return m
print('MaxVal:',maxval(s))

s = { 5, 10, 3, 15, 2, 20 }

def minval(set):
    m = set.pop()
    while set: 
        p = set.pop()
        if m > p: m = p
    return m
print('MinVal:',minval(s))

MaxVal: 20
MinVal: 2